<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polito.maddroid.lab3.common">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@style/MainAppTheme">
        <activity android:name=".SplashScreenActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait"/>
        <activity android:name=".LoginActivity" android:theme="@style/LoginActivityTheme" />
    </application>

</manifest>